@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
a{
	color: #283593;
	text-decoration: none;
}
h3{
	margin-top: 12px;
}
*{
	margin:0px;
}
body{
	background-color: #0f0f0f;
	font-family: 'Roboto', sans-serif;
}
main{
	border-radius: 20px;
	background-color: #434343;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: calc((100% - 640px) / 2);
	width: 550px;
}
section#status{
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
	border-radius: 20px;
	text-align: center;
	background-color: #3789C2;
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
}
section#Slots{
	border-radius: 15px;
	background-color: #FAFAFA;
    height: 200px;
	border-style: solid;
	border-color: #9e9e9e;
	border-width: 10px;
}
/* section#Slots {
    border-radius: 15px;
    background-color: #FAFAFA;
    height: 140px;
    border-style: solid;
    border-color: #9e9e9e;
    border-width: 10px;
} */
#Gira{
	margin-top: 10px;
	border-radius: 100%;
	text-align: center;
	background-color: #b41828;
	color: #FFFFFF;
	font-size: 25px;
    width: 100px;
    height: 100px;
    /* margin-left: 29%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
	border-style: solid;
	border-color: #791f28;
	border-width: 8px;
}
/* #Gira:hover{
	background-color: #961522;
    cursor: pointer;
} */
section#options{
	margin-top: 20px;
	padding-top: 5px;
	border-radius: 5px;
	color: #FFFFFF;
    
}
.option{
	padding-left: 5px;
    height: 50px;
    width: auto;
    margin-bottom: 10px;
    margin-top: auto;
}

.option:hover{
    cursor: pointer
}

#slot1, #slot2, #slot3{
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 20px;
	background-size: 135px;
	width: 135px;
	height: 135px;
}

#Slots1{
	border-radius: 15px;
	background-color: #FAFAFA;
    height: 200px;
	border-style: solid;
	border-color: #9e9e9e;
	border-width: 10px;
}

/* css in mobile phone */
/* mobile S */
@media only screen and (max-width: 320px) {
	#slot1, #slot2, #slot3 {
		display: inline-block;
		margin-top: 20px;
		margin-left: 5px;
		margin-right: 5px;
		background-size: 50px;
		width: 50px;
		height: 50px;
		background-repeat: no-repeat;
	}
	section#Slots {
		border-radius: 15px;
		background-color: #FAFAFA;
		height: 110px;
		border-style: solid;
		border-color: #9e9e9e;
		border-width: 10px;
	}
	
	/* #mobile-css-m{
		display: none;
	}
	#mobile-css-l{
		display: none;
	} */
}
/* mobile M */
@media only screen and (min-width: 321px) and (max-width: 375px) {
	#slot1, #slot2, #slot3 {
		display: inline-block;
		margin-top: 25px;
		margin-left: 7px;
		margin-right: 5px;
		background-size: 65px;
		width: 65px;
		height: 65px;
		background-repeat: no-repeat;
	}
	section#Slots {
		border-radius: 15px;
		background-color: #FAFAFA;
		height: 130px;
		border-style: solid;
		border-color: #9e9e9e;
		border-width: 10px;
		width: 100%;
	}

	/* #mobile-css-s{
		display: none;
	}
	#mobile-css-l{
		display: none;
	} */
}
/* mobile L */
@media only screen and (min-width: 376px) and (max-width: 425px) {
	#slot1, #slot2, #slot3 {
		display: inline-block;
		margin-top: 30px;
		margin-left: 5px;
		margin-right: 5px;
		background-size: 100%;
		width: 100%;
		height: 100px;
		background-repeat: no-repeat;
	}
	section#Slots {
		border-radius: 15px;
		background-color: #FAFAFA;
		height: 150px;
		border-style: solid;
		border-color: #9e9e9e;
		border-width: 10px;
	}
	/* #mobile-css-m{
		display: none;
	}
	#mobile-css-s{
		display: none;
	} */
}
/* end css mobile */


.bottom{
    display: flex;
}

#my-canvas{
	position: fixed;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	visibility: hidden;
}
#my-canvas.active{
	visibility: visible;
}

.login-buttons{
	margin-right: 30px;
  }
  
.login-buttons button
{
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	background-color: #2c2c2c;
	width: 130%;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #ffffff;
	border-radius: 40px;
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 10px 10px;
}

.login-buttons button:hover
{
	background-color: #202020;
}
  
#userName{
	padding: 10px 10px;
	color: #ffffff;
	vertical-align: middle;
	display: flex;
    justify-content: center;
    align-items: center;
}
  
.usuario{
	display: flex;
	padding: 0px 10px;
	border-radius: 40px;
	background-color: #434343;
	width: fit-content;
	margin-top: 20px;
	margin-left: 30px;
	border-color: #0f0f0f00;
}

.stats{
	margin-top: 30px;
	margin-left: 30px;
	width: 20%;
	border-radius: 20px;
	position: absolute;
	background-color: #606060;
	min-width: 220px;
}

.stats-title{
	color: #ffffff;
	background-color: #400D12;
	width: fit-content;
	padding: 10px 25%;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2vw;
}

.stats-group{
	display: flex;
	flex-wrap: wrap;
}

#score, #wins{
    font-size: 20px;
    background-color: #2c2c2c;
    padding: 2% 4%;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
	margin: auto;
	margin-top: 10px;
}

.leaderboard{
	width:25%;
	top: 20px;
	left: auto;
	right: 30px;
	border-radius: 20px;
	position: absolute;
	background-color: #606060;
	min-width: 290px;
	min-height: 575px;
	height: calc(fit-content+20px);
}

.leader-group{
	margin-top: 20px;
}

.leader-title{
	font-size: 2vw;
	color: #ffffff;
	background-color: #d8a114;
	width: 70%;
	padding: 10px 35px;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
}

.scores{
	font-size: 1.3vw;
    background-color: #2c2c2c;
    padding: 2% 2%;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
	margin: auto;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 40px;
	text-align: center;
}

.first, .second, .third{
	display: flex;
	font-size: 1.1vw;
    background-color: #2c2c2c;
    padding: 2% 2%;
    border-radius: 40px;
    margin-bottom: 10px;
    color: #FFFFFF;
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 40px;
	text-align: left;
	align-items: center;
	padding-top: 0;
	padding-bottom: 2.5%;
	padding-top: auto;
}

.leader-num{
	border-radius: 30px;
	height: 20%;
	width: 15%;
	padding: 5px 5px;
	margin-right: 10px;
	margin-left: 5px;
	text-align: center;
}

.a1{
	background-image: url("src/tiles/seven.png");
}
.a2{
	background-image: url("src/tiles/cherries.png");
}
.a3{
	background-image: url("src/tiles/club.png");
}
.a4{
	background-image: url("src/tiles/diamond.png");
}
.a5{
	background-image: url("src/tiles/heart.png");
}
.a6{
	background-image: url("src/tiles/spade.png");
}
.a7{
	background-image: url("src/tiles/joker.png");
}

.b1{
	background-image: url("src/tiles/new/Bitcoin.png");
}
.b2{
	background-image: url("src/tiles/new/Cash_Dollar.png");
}
.b3{
	background-image: url("src/tiles/new/Buck_Cents.png");
}
.b4{
	background-image: url("src/tiles/new/Bronze_Coin.png");
}
.b5{
	background-image: url("src/tiles/new/Platinum_Coin.png");
}
.b6{
	background-image: url("src/tiles/new/Silver_Coin.png");
}
.b7{
	background-image: url("src/tiles/new/Gold_Coin.png");
}
.b8{
	background-image: url("src/tiles/new/TRX.png");
}
.b9{
	background-image: url("src/tiles/new/x2.png");
}
.b10{
	background-image: url("src/tiles/new/x3.png");
}
.b11{
	background-image: url("src/tiles/new/x4.png");
}
.b12{
	background-image: url("src/tiles/new/x5.png");
}
.b13{
	background-image: url("src/tiles/new/x10.png");
}